<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Applications</title>
</head>
<body>
    <h1>Todo Application</h1>
<div>
    <div>
    <form action="/" method="post">
        <div>
            <input type="text" name="title" placeholder="Add a title....." required>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
    </div>
    <div>
        <th:block th:each="task : ${tasks}">
        <div>
            <span th:text="${task.title}"></span>
        </div>
        </th:block>
    </div>

</div>
</body>
</html>